<scene title="Net demo (relay server)" renderFPS="144" updateFPS="60" physicsFPS="10" sameSize="true">
    <object id="server">
        <RelayServer relayServerAddress="127.0.0.1:4444" />
    </object>
    <object id="blankSquare" x="200" y="200" sizeX="200" sizeY="200">
        <BlankRenderer color="red" />
        <Movement2D _package="pl.AWTGameEngine.custom" />
        <TextRenderer text="HELLO WORLD" size="50" vertical="center" horizontal="center" />
    </object>
</scene>