*.txt
*.log
*.wav
*.bin
/.idea
.idea/*
/META-INF
META-INF/*
/out
out/*
/projects
projects/*
/target
!/.gitignore
!/LICENSE.txt
!/README.md
dependency-reduced-pom.xml
/scenebuilder/
/src/main/resources/hdr_sprites/
saved_state.xml