*.txt
*.log
*.wav
/data
data/*
/.idea
.idea/*
/META-INF
META-INF/*
/out
out/*
/target
!/.gitignore
!/LICENSE.txt
!/README.md
dependency-reduced-pom.xml
/src/main/resources/hdr_sprites/
saved_state.xml