<scene title="Web demo" renderFPS="144" updateFPS="60" physicsFPS="10" sameSize="true">
    <object id="blankSquare" x="200" y="200" sizeX="200" sizeY="200">
        <BlankRenderer color="red" />
    </object>
    <object id="beaverSquare" x="300" y="300" sizeX="500" sizeY="500">
        <SpriteRenderer spriteSource="sprites/beaver.jpg" />
    </object>
    <object id="flex" x="0" y="0" sizeX="1920" sizeY="1080">
        <FlexDisplay items="blankSquare,beaverSquare" />
    </object>
    <object id="marquee" x="0" y="100" sizeX="1920" sizeY="10">
        <MarqueeText _package="pl.AWTGameEngine.custom" />
    </object>
    <styles source="scenes/styles/style.css" />
</scene>