<scene title="Web demo" renderFPS="144" updateFPS="60" sameSize="true">
    <object id="blankSquare" x="200" y="200" sizeX="200" sizeY="200">
        <BlankRenderer color="red" />
    </object>
    <object id="beaverSquare" x="300" y="300" sizeX="200" sizeY="200">
        <SpriteRenderer spriteSource="sprites/beaver.jpg" />
    </object>
    <styles source="scenes/styles/style.css" />
</scene>