<scene title="Net demo (server)" renderFPS="144" updateFPS="60" physicsFPS="10" sameSize="true">
    <object id="server">
        <Server port="5555" />
        <PlayerSpawner _package="pl.AWTGameEngine.custom" />
    </object>
    <object id="blankSquare" x="200" y="200" sizeX="200" sizeY="200">
        <BlankRenderer color="red" />
        <Movement2D _package="pl.AWTGameEngine.custom" />
    </object>
    <object id="mirror" x="500" y="500" sizeX="128" sizeY="96">
        <SpriteRenderer />
    </object>
    <object id="filter">
        <Filter targetId="mirror" _package="pl.AWTGameEngine.custom" />
    </object>
</scene>