object {
    border-radius: 20%;
}

#beaverSquare {
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
