.standard {
    background-color: #272D2E;
    width: 100%;
    height: 100%;
    color: #E1E1E1
}

.menubar {
    display: flex;
    vertical-align: center;
}

.menubar-menu {
    display: none;
    min-width: 10vw;
    z-index: 100;
    position: absolute;
    font-size: 1vw;
}

.menubar span {
    font-size: 0.75vw;
    padding-top: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    position: relative;
    display: flex;
}

.menubar span:hover .menubar-menu {
    display: block;
}

.menubar-menu:hover {
    display: block;
}

.toolbar {
    box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
    display: flex;
    vertical-align: center;
}

select {
    overflow-y: scroll;
}

select option:nth-child(odd), .menubar-menu span:nth-child(odd) {
    background-color: #23282b;
}

.menubar span:hover, .menubar-menu span:hover {
    background-color: #1C87E1;
    cursor: pointer;
}

input {
    width: 100%;
    height: 3vh;
}

.object-details {
    padding: 1vw;
    display: flex;
}

.object-details div {
    width: 49%;
    overflow-y: scroll;
}

.object-details label {
    margin-right: 3vw;
    margin-left: 1vw;
    margin-bottom: 1vh;
}

.object-details input {
    margin-bottom: 1vw;
}

#objectdetails-rotation-w, label[for="objectdetails-rotation-w"] {
    display: none;
}

#objectdetails-rotation-quaternion:checked ~ #objectdetails-rotation-w, #objectdetails-rotation-quaternion:checked ~ label[for="objectdetails-rotation-w"] {
    display: inline-block;
}

.details-select {
    width: 99%;
    height: 90%;
}